<!DOCTYPE>
<html>
  <body>
    <h1> Welcome to the Big Donkey's Activitymate, <%=h @user.name %> </h1>

    <p>
      Sorry to hear you've forgotten your password. Your username is: <%= @user.email %>. <br/> Your new password is: 

    </p>

  </body>

</html>
