<title> Forgot Password </title>
<h1>Forgot Password</h1>


<form action="/one/reset_password" method ="post">
  <input Email: <input type="text"/><br/>
  <input type="submit" value="Submit">
</form>


<!four = login page>
<h2> Remember your login?</h2>
<form action="/one/four" method = "post">
  <input type="submit" value ="Sign In"
</form>
