<h1> Log In </h1>

<form accept-charset="UTF-8" action="/login" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
  <label for="session_email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input class="form-control" id="session_email"
         name="session[email]" type="text" /><br/>
  <label for="session_password">Password</label>
  <input id="session_password" name="session[password]"
         type="password" /><br/>
  <input class="btn btn-primary" name="commit" type="submit"
       value="Log in" /><br/>
</form><a href="/one/forgot_password">Forgot Password?</a><br/>

<img src="https://i.imgur.com/hpXiuP0.jpg" width="1024px" height="780px" >
