<h1> Sign Up</h1>
<form action="" method ="post">
  <input Email address: <input type="text"/><br/>
  <input password: <input type="text"/><br/>
  <input type="submit" value="Sign me up!"><br/>
</form>
<form action ="/one/four" method ="post"><br/>
  <input type="submit" method ="Log In"
