<!-- <h1> Welcome! </h1>

<b> Name = </b><%=@user.name %> </br>
<b> Email = </b> <%= @user.email %> </br>
<b> Password = </b> <%= @user.password%> </br>

<b> helllooo testing 123</b> -->

<%= render :template => 'searches/new' %>

