

<h1> Welcome! </h1>

<!--
<b> Name = </b><%=@user.name %> </br>
<b> Email = </b> <%= @user.email %> </br>
<b> Password = </b> <%= @user.password%> </br>
<b> this page shows what the user signed up with </b>
<b>blah blah blah</b></br>
<b> ->need a way to link to home page </b>
-->

<%= render :template => 'searches/new' %>