<h1> Welcome!!! </h1>

<b> Name = </b><%=@user.name %> </br>
<b> Email = </b> <%= @user.email %> </br>
<b> Password = </b> <%= @user.password%> </br>

<b>without using sessions, this will be the page that displays information concerning a particular user.</b>